@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 4%;
    --foreground: 61 100% 50%;
    --primary: 0 0% 95%;
    --secondary: 0 0% 13%
  }

  body {
    @apply bg-background;
    @apply text-primary;
  }
}
